
  *{
    margin: 0px;
    padding: 10px;
  }

.cabecalho-casa, .cabecalho-moda, .valores-tabela{
    color:#ffffff
}

.cabecalho-moda{
    background-color: #BB86FC ;

}

.cabecalho-casa{
    background-color: #00C4B4 ;  
}

.valores-tabela{
    background-color: #424250 ;
}